<h1>Edit Stocks</h1>

<form action="/stocks/<%=@stock.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label> Stock Name: </label>
  <input type="text" name="stock_name" value="<%=@stock.name %>"> </br>

  <label> Stock Ticker: </label>
  <input type="text" name="ticker" value="<%=@stock.ticker%>"> </br>

  <label>Stocks: </label>
  <% @stocks.all.each do |stock| %>
    <label> <%= stock.name  %></label>
    <input type="checkbox" name="name" value="<%= stock.id %>"> <%= stock.name %><%='checked' if @account.stocks.include?(stock) %>><br>
  <% end %>

  <label> Select the Account to add this stock to. </label>
  <select>
    <% current_user.accounts.each do |account| %>
    <option value="<%=account.id %>" <%= account.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Update Stock Position">
</form>
