<h1>Add a Stock to Your Account Portfolio</h1>
<h3><% if flash.has?(:message) %>
  <%= flash[:message] %>
  <% end %></h3>

  <form action="/stocks" method="post">

    <h5>Add a Stock:<h5>
      <label> Stock Name: </label>
      <input type='text' name='name'>

      <label> Stock Ticker: </label>
      <input type='text' name='ticker'>

      <label> Shares to Buy: </label>
      <input type='number' name='shares'>
      <!-- need drop down menu with accounts to pass id in post route -->

      <select name="account_id">
        <% @user.accounts.map do |account| %>
          <option name="<%= account.id %>" id="<%= account.id %>" value="<%= account.id %>"><%= account.name.capitalize %></option>
        <% end %>
      </select>

      <input type="submit" value="Buy Stock">


    </form>
