<%= @account.name %>
<%= @account.category %>

<h2>Stocks:</h2>
<ul>
<% @account.stocks.each do |stock| %>
  <li><a href="/stocks/<%=stock.id%>"><%= stock.name %></a></li>
<% end%>
</ul>
<a href="/accounts/<%=@account.id%>/edit">Edit</a>
