<%= @account.name %>
<%= @account.category %>

<h2>Stocks:</h2>
<ul>
<% @account.stocks.each do |stock| %>
  <li><a href="/stocks/<%=stock.id%>"><%= stock.name %></a> </li><br>
  <p>Ticker:  <%= stock.ticker %> </p>
<% end%>
</ul><br>

<form action="/accounts/<%= @account.id %>/delete" method="post">
   <input type="hidden" id="hidden" name="_method" value="delete">
   <button type="submit" name="button">Delete Account</button>
</form>

<a href="/stocks/new">Add Stock</a>
<a href="/accounts/<%=@account.id%>/edit">Edit Account</a><br>
<a href='/accounts'>Home</a>
